---
import LogoTile from './LogoTile.astro';

interface Props {
	associatedLogos?: Array<{ svgSrc: string; title: string }>;
	layoutVariant?: 'default' | 'alt';
}

const { associatedLogos, layoutVariant = 'default' } = Astro.props;
---

<div class={`bento-container variant-${layoutVariant}`}>
	<div class="item featured first main-image">
		<slot name="top-left" />
	</div>
	<div class="item featured second">
		<slot name="top-right" />
	</div>
	{
		associatedLogos?.map((logo, index) => (
			<div class="item">
				<LogoTile svgSrc={logo.svgSrc} title={logo.title} id={`logo-${index}`} />
			</div>
		))
	}
</div>

<style>
	.bento-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 12px;
		padding: 20px;
		margin: 0 auto;
	}

	.item {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: sans-serif;
		font-weight: bold;
		padding: 1rem 0.25rem;
		flex-direction: column;
		grid-column: span 1;
	}

	.featured {
		grid-column: span 2;
		padding: 1rem;
		aspect-ratio: auto;
	}

	.featured.first {
		justify-content: center;
		align-items: center;
	}

	.featured.second {
		justify-content: flex-start;
		align-items: stretch;
	}

	@media (max-width: 535px) {
		.item {
			aspect-ratio: auto;
			padding: 0.5rem;
			min-height: auto;
		}

		.featured {
			padding: 0.5rem;
			grid-column: span 2;
		}

		.featured.first {
			justify-content: center;
			align-items: center;
		}

		.featured.first img,
		.featured.first svg {
			max-width: 60%;
			height: auto;
		}

		.featured.second {
			justify-content: flex-start;
			align-items: stretch;
			padding: 0.5rem;
		}
	}

	@media (min-width: 768px) {
		.main-image > :first-child {
			justify-content: left;
		}
		.bento-container {
			grid-template-columns: repeat(2, 1fr);
		}

		.variant-alt .featured.first {
			grid-column: span 2;
			aspect-ratio: auto;
		}

		.variant-alt .featured.second {
			grid-column: span 2;
			aspect-ratio: auto;
		}
	}
	@media (min-width: 1024px) {
		.bento-container {
			grid-template-columns: repeat(8, 1fr);
		}

		.variant-alt .featured.first {
			grid-column: span 4;
			aspect-ratio: auto;
		}

		.variant-alt .featured.second {
			grid-column: span 4;
			aspect-ratio: auto;
		}

		.item {
			grid-column: span 2;
		}
	}
	@media (min-width: 1280px) {
		.bento-container {
			grid-template-columns: repeat(6, 1fr);
		}

		.variant-alt .featured.first {
			grid-column: span 2;
			aspect-ratio: auto;
			padding: 2rem;
		}

		.variant-alt .featured.second {
			grid-column: span 4;
			padding: 2rem;
			aspect-ratio: auto;
		}
	}
</style>
